<head>
        <title>OMDB movie</title>
        <script url="omdb.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/omdb.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
        <div id="logo">
            <a>The Entertainment Info</a>
        </div>
        </header>
        <br>
        <div class="container">
            <!-- <h1>The Entertainment Info</h1>  -->
            <h3>Enter your favourite show's name : </h3>
            <br>
            <form method="post" action="/submit">
                <input id="formName" type="text" name="movieName"><br><br><br>
                <input id="formSubmit" type="submit" value="Lets GO">
            </form>
        </div>
        <footer>
            <div style="width:33% ;border-right: 1px solid #151719;">
                <img src="images/hipsipic.png">
            </div>
            <div id="nameFooter" style="width:33%;border-right: 1px solid #151719;"> 
                <b><p>Made by Hipranshu</p></b>
            </div>
            <div style="width:33%">
                <button id="socialinsta"><a id="socialinstalink" href="https://www.instagram.com/hipsi.ig/?hl=en">Instagram</a></button>
                <button id="socialfb" ><a id="socialfblink" href="https://www.facebook.com/hipsi.hipranshu">Facebook</a></button>
            </div>
        </footer>
    </body>